<h1>Редактировать игру {{ game.title }}</h1>

<form action='/games/edit' method='post' class='game__form'>
  <div class='input-field'>
    <input id='title' name='title' type='text' class='validate' value='{{ game.title }}' required>
    <label for='title'>Название игры</label>
    <span class='helper-text' data-error='Введите название'></span>
  </div>
  <div class='input-field'>
    <input id='price' name='price' type='text' class='validate' value='{{ game.price }}' required min='1'>
    <label for='price'>Средняя стоимость</label>
    <span class='helper-text' data-error='Введите стоимость'></span>
  </div>
  <div class='input-field'>
    <input id='image' name='image' type='text' class='validate' value='{{ game.image }}' required>
    <label for='image'>URL картинки</label>
    <span class='helper-text' data-error='Введите URL картинки'></span>
  </div>

  <input type='hidden' name='id' value='{{ game.id }}'>

  <button type='submit' class='btn btn-primary deep-purple darken-4'>Изменить</button>
</form>

<form action='/games/remove' method='post'>
  <input type='hidden' name='id' value='{{ game.id }}'>
  <button class='btn red'>Удалить</button>
</form>